* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.list {
  width: 960px;
  margin: auto;
}

.list-box {
  padding: 50px 0px;
  background-size: cover;
  background-position: center;
}

.list-a {
  padding: 20px;
}

.list-a:nth-child(odd) {
  background-color: #acabab;
}

.img {
  width: 960px;
  margin: auto;
}

.img-box {
  width: 960px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.img-a {
  width: 30%;
  height: 200px;
}

.img-a:nth-child(1) {
  background-color: orange;
  margin-bottom: 40px;
  margin-right: 5%;
}

.img-a:nth-child(2) {
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.img-a:nth-child(3) {
  background-color: yellow;
  margin-bottom: 40px;
}

.img-a:nth-child(4) {
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.img-a:nth-child(5) {
  background-color: orange;
  margin-bottom: 40px;
  margin-right: 5%;
}

.img-a:nth-child(6) {
  background-color: yellow;
  margin-bottom: 40px;
}

.img-a:nth-child(7) {
  background-color: yellow;
  margin-bottom: 50px;
  margin-right: 5%;
}

.img-a:nth-child(8) {
  background-color: yellow;
  margin-bottom: 50px;
  margin-right: 5%;
}

.img-a:nth-child(9) {
  padding-bottom: 50px;
  background-color: orange;
}
 .